*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

main{
    min-height: 100%;
}
.islink{
    text-decoration: none !important;
}
/* .imgtop>img{
    width: 100%;
} */
.num-input {
    
    width: 220px;
}
.error-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.error-page h1{
    font-size: 20vh;
}